services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: always
    env_file: .env
    environment:
      - MARIADB_HOST
      - MARIADB_ROOT
      - MARIADB_ROOT_PASSWORD
      - MARIADB_DATABASE
      - MARIADB_USER
      - MARIADB_PASSWORD
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    restart: always
    env_file: .env
    environment:
      - DOMAIN_NAME
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception-network
    depends_on:
      - wordpress
    ports:
      - 443:443
    healthcheck:
      test: ["CMD", "curl", "-f", "https://edcastro.42.fr"]
      interval: 30s
      timeout: 10s
      retries: 5

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    restart: always
    env_file: .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception-network
    depends_on:
      - mariadb
    expose:
      - "9000"
    healthcheck:
      test: ["CMD", "curl", "-f", "https://edcastro.42.fr"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PATH_TO_VOLUME}/mariadb
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PATH_TO_VOLUME}/wordpress

networks:
  inception-network:
    driver: bridge
