[mysqld]
skip-networking = 0
bind-address = 0.0.0.0
port = 3306
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid

# Performance
max_connections = 1000
default_storage_engine = InnoDB

[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice = 0